<app-modal-component title="Atualizar chamado" [onclosed]="onClosedModal" [isOpen]="isOpen">
<app-input-component 
    icon="assets/text.png"
    type="text"
    placeholder="Digite o título do chamado"
    [(value)]="dataModal.title"/>
    <app-input-component 
    icon="assets/poll-h.png"
    type="text"
    placeholder="Digite a descrição do chamado"
    [(value)]="dataModal.description"/>
    <div class="div-container-rodape">
        <app-button-component text="Cancelar" type="primary" (onClick)="onClosedModal(); clearInputs()"/>
        <app-button-component text="Adicionar" type="secondary" (onClick)="updateCalled()"/>
    </div>
</app-modal-component>