:host {
    width: 100%;
}

.div-container-input {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #00000022;
}

.div-container-input input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    border: none;
    font-size: 18px;
}

.div-container-input input:focus {
    outline: none;
}

.div-container-input * {
    margin: 10px;
}

.img-eye{
    cursor: pointer;
}