:host{
    width: 100%;
}

button{
    width: 100%;
}

.primary{
    background-color: #FFFFFF;
    border: none;
    color: #5a5afc;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    padding: 5px 0;
    transition: 0.3s;
}

.primary:hover{
    background-color: #eeeded;
    box-shadow: 1px 1px 5px #ffffff42;
    transition: 0.3s;
    cursor: pointer;
}

.secondary{
    background-color: #4d4dfa;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    padding: 10px 0;
    transition: 0.3s;
}

.secondary:hover{
    background-color: #5a5afc;
    cursor: pointer;
    box-shadow: 1px 1px 5px #ffffff42;
    transition: 0.3s;
}

.sidebar{
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    transition: 0.2s;
    border: none;
    gap: 15px;
}

.sidebar:hover{
    background-color: #FFFFFF22;
    cursor: pointer;
    transition: 0.2s;
}